[Unit]
Description=Enable USB root hub wake from suspend
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo enabled > /sys/bus/usb/devices/usb1/power/wakeup'

[Install]
WantedBy=multi-user.target
